.DS_Store
node_modules

# local env files
.env
.env.local
.env.*.local

# PM2 config (use .dist as template)
ecosystem.config.mjs

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Covers symlink (created by setup script if gutenguess submodule exists)
packages/front/public/covers
