@font-face {
  font-family: 'ComicNeue';
  src: url('@/assets/fonts/ComicNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JMH Typewriter';
  src: url('@/assets/fonts/JMH Typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
