services:
  mongo-container:
    image: mongo:5.0.14
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD:-root}
    volumes:
      - './data/db:/data/db'
    ports:
      - '27017:27017'
    command: mongod
